
 <!-- Top contact bar -->
<div class="top-bar">
    For bulk order contact <strong>+91 9034117094</strong>
</div>

<!-- Main header -->
<header class="main-header">
    
    <!-- Left: Search icon -->
    <div class="header-left">
        <i class="fa fa-search"></i>
    </div>

    <!-- Center: Logo -->
    <div class="header-center">
        <h1 class="logo">DefenZone</h1>
        <p class="tagline">Command your style, DEFENZONE your identity</p>
    </div>

    <!-- Right: Login & Cart -->
   <div class="header-right">
    <a href="/login" class="login-link">Login / Register</a>

    <!-- Wishlist Icon -->
    <div class="icon-wrapper">
        <i class="fa fa-heart"></i>
        <span class="count">0</span>
    </div>

    <!-- Cart Icon -->
    <div class="icon-wrapper cart-icon">
       <i class="fa fa-shopping-cart"></i>
        <span class="count" id="cart-count">
            <%= (session && session.cart) ? session.cart.reduce((sum,i)=>sum+i.qty,0) : 0 %>
        </span>
    </div>
</div>

</header>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">DefenZone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <!-- SHOP DROPDOWN -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Shop
  </a>
  <ul class="dropdown-menu" aria-labelledby="shopDropdown">
    <li><a class="dropdown-item" href="/tshirts">T-Shirt</a></li>
    <li><a class="dropdown-item" href="/hoodies">Hoodie</a></li>
    <li><a class="dropdown-item" href="/tacticaps">TactiCap</a></li>
    <li><a class="dropdown-item" href="/cargos">Cargo</a></li>
  </ul>
</li>

        <li class="nav-item">
          <a class="nav-link" href="/size-guide">Size Guide</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- FontAwesome Icons -->

<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


